<div>
	<div>
	</div>
	<table>
		<thead>
			<tr>
				<td>#</td>
				<td>User name</td>
				<td>User email</td>
			</tr>
		</thead>
		<tbody>
			<% @users.each do |user| %>
			<tr>
				<td>#</td>
				<td><%= link_to user.username, user_path(user) %></td>
				<td><%= user.email %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>
